@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'sofiapro-light';
	src: url('./assets/fonts/sofiapro-light.otf') format('truetype');
  }
  @font-face {
	font-family: 'boska-light';
	src: url('./assets/fonts/Boska-Black.ttf') format('truetype');
  }
  .tit{
	font-size: calc(45px + 120*(100vw - 320px) / 1080);
	line-height: .8;
  }
  .video-background {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: -1; /* Assurez-vous que la vidéo reste en arrière-plan */
  }
  html, body {
	overscroll-behavior-y: none;
  }
	.squaresize{
		--mg: calc(70px + 50 * (100vw - 320px) / 1080);
    	width: calc(100% + (var(--mg) * 2.5));
    	height: calc(100% + (var(--mg) * 2));
	}
	.sec {
		overflow: hidden;
		width: 153%;
		left: 7%;
		min-height: calc(220px + 150 * (100vw - 320px) / 1080);
	}
  .video-background video {
	width: 100%;
	height: 100%;
	object-fit: cover; /* Cela garantit que la vidéo couvre la zone sans perdre ses proportions */
  }

  .content {
	position: relative;
	z-index: 1; /* Assurez-vous que le contenu est au-dessus de la vidéo */
	/* Ajoutez plus de styles pour votre contenu ici */
  }
  footer {
	background-color: black; /* Fond noir pour le footer */
	color: white; /* Texte blanc pour le contraste */
	width: 100%;
	z-index: 10;
	position: relative; /* Important pour le contexte de stacking avec z-index */
  }
.navbar {
	font-family: 'sofiapro-light', sans-serif;
  }

  .container {
	display: flex;
	align-items: center;
	justify-content: center;
  }

  .text-box {
	width: 620px;  /* Ajustez la taille selon vos besoins */
	height: 560px; /* Ajustez la taille selon vos besoins */
	background-color: white;
	color: black;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: -50px; /* Chevauchement */
	z-index: 1; /* S'assurer que le carré est au-dessus de l'image */
  }

  .chevauchant-image {
	max-width: 200px; /* Ajustez selon la taille de votre image */
	max-height: 200px; /* Ajustez selon la taille de votre image */
  }

.discover-text {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin: 0;
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
	  transform: translateY(0);
	}
	40% {
	  transform: translateY(-30px);
	}
	60% {
	  transform: translateY(-15px);
	}
  }
.icon-container {
	display: flex;
	gap: 30px;
  }

:root {
  --primary-dark: #5651e5;
  --primary-light: #709dff;
}

.icon {
  color: var(--primary-dark);
}

@layer base {
  body {
    @apply font-[Poppins]
  }

  li {
    @apply p-4
  }

  h1 {
    @apply text-3xl md:text-4xl font-bold
  }

  h2 {
    @apply text-3xl font-bold
  }

  h3 {
    @apply text-xl font-bold
  }
  button {
    @apply p-3 border bg-gradient-to-r from-[var(--primary-dark)] to-[var(--primary-light)] text-white rounded-md
  }
  .icon {
    @apply text-2xl cursor-pointer
  }
}

.imaneimg {
	transform: translate3d(0);
  }
